*{
    padding: 0;
    margin: 0;
    background: white;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: inherit;
}

.navbar-container{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
}

.nav-items-container{
    height: 40px;
    width: 100%;
    background-color: none;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-left,.nav-middle,.nav-right{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-logo{
    font-size: 20px;
    font-weight: 800;
    color: #22252C;
    cursor: pointer;
}
#nl-1{
    color: #6B08F0;
}



.nav-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: flex;
    font-size: 20px;
    color: #828395;
    gap: 40px
}
.nv-list:hover{
    color: #6B08F0;
    cursor: pointer;
}


.nav-right{
    display: flex;
    justify-content: right;
}
.icons-circle-1{
    height: 100%;
    width: 40px;
    border-radius: 50%;
    background-color: #22252C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nr-icon{
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: wheat;
}


.sidebar-toggle {
    height: 100%;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.st-line-1,.st-line-2 {
    width: 100%;
    height: 4px;
    margin-bottom: 4px;
    background-color: #22252C;
}
.st-line-3{
    width: 100%;
    height: 4px;
    background-color: #22252C;
}




.land-section{
    display: flex; 
}

.land-left{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 200px;   
    padding-left: 60px;
    padding-right: 60px;
}
.greetings{
    display: flex;
    gap: 4px;
    margin-bottom: -32px;
    cursor: default;
}

.greeting-sentence{
    font-size: 20px;
    font-weight:500;
    color: #22252C;
}

.greeting-icon{
    height: 30px;
}

.heading-container{
    margin-left: -6px;
    cursor: default;
}
.land-header-1{
    display: flex;
    font-size: 96px;
    font-weight:bolder;
    color: #6B08F0;
    margin-bottom: -46px;
}
#land-end,#land-developer{
    color: #22252C;
}
.land-header-2{
    font-size: 96px;
    font-weight:bolder;
    color: #22252C;
    margin-bottom: -18px;
}

.land-paragraph{
    color: #828395;
    font-size: 20px;
    width: 500px;
    cursor: default;
}

.land-buttons{
    display: flex;
    gap: 10px;
}

.land-button{
    height: 42px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22252C;
    color: #22252C;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#land-button-2{  
    width: 120px;
    background-color: #ECECEC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
#land-button-1{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    
}

.lb-p-1{
    font-weight: 600;
}
.lb-p{
    color: white;
    font-weight: 600;
}


.land-right{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 150px;   
    padding-left: 60px;
    padding-right: 60px;
}

.land-circle-1{
    height: 450px;
    width: 450px;
    margin-right: 100px;
    border-radius: 225px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.land-circle-2{
    height: 80%;
    width: 80%;
    border-radius: 100%;
    background-color: blanchedalmond;
}







@media (max-width: 767px) {
    .nv-list,.icons-circle-1{
        display: none;
    }
}

@media (min-width: 768px) {
    .sidebar-toggle{
        display: none;
    }
}

