*{
    padding: 0;
    margin: 0;
    background: white;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: inherit;
}

.navbar-container{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

.nav-items-container{
    height: 40px;
    width: 100%;
    background-color: none;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

.nav-left,.nav-middle,.nav-right{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-logo{
    font-size: 20px;
    font-weight: 800;
    color: #22252C;
    cursor: pointer;
}
#nl-1{
    color: #6B08F0;
}



.nav-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: flex;
    font-size: 20px;
    color: #828395;
    gap: 40px
}
.nv-list:hover{
    color: #6B08F0;
    cursor: pointer;
}


.nav-right{
    display: flex;
    justify-content: right;
}
.icons-circle-1{
    height: 100%;
    width: 40px;
    border-radius: 50%;
    background-color: #22252C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nr-icon{
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: wheat;
}




.land-section{
    display: flex;    
}

.land-left{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 60px;
    padding-right: 60px;
}
.greetings{
    display: flex;
    gap: 4px;
}

.greeting-sentence{
    font-size: 20px;
    font-weight:500;
    color: #22252C;
    background-color: none;
}

.greeting-icon{
    height: 30px;
}

.land-header{
    display: flex;
    font-weight:900;
    color: #6B08F0
}
#land-end,#land-developer{
    color: #22252C;
}

.land-paragraph{
    color: #828395;
}

.land-buttons{
    display: flex;
    gap: 8px;
}

.land-button{
    height: 36px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22252C;
    color: #22252C;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#land-button-2{  
    background-color: #ECECEC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
#land-button-1{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.lb-p{
    color: white;
}

